@charset "UTF-8";

:root {
    --main-color: #5D9AB2;
    --accent-color: #BF6A7A;
    --dark-color: #2B5566;
    --text-bright-color: #fff;
    --icon-color: #fff;
    --icon-bk-color: #ddd;
    --large-width: 1000px;
}

/* 基本設定 : ページ全体 */
body {
    margin: 0;
    font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: rgba(0,0,0,0.3);
}

/* content A: Hero image */
.conA {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 450px;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url("/img/series_a/fruits.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    color: var(--text-bright-color);
    text-align: center;
}

.conA img {
    width: 20%;
}

.conA a, .conC a, .conD a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: var(--accent-color);
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.conA a:hover, .conC a:hover, .conD a:hover {
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
}

.conA h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15vw;
    letter-spacing: 0.2em;
    margin-left: 0.2em;
}

.conA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

.conB .container{
    padding-top: 80px;
    padding-bottom: 20px;
}

.conB .text{
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 60px;
    text-align: center;
}

.conB h2, .conC h2, .conD h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conB p, .conC p, .conD p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8; /* default is 1.5 */
    opacity: 0.7;
}

.conB a {
    color: var(--main-color);
    text-decoration: none;
}

.conB a:hover {
    text-decoration: underline;
}

.conB .icon {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;
    width: 2em;
    line-height: 2em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    background-color: var(--icon-bk-color);
    color: var(--icon-color);
}

.conC {
    background-color: var(--main-color);
    color: var(--text-bright-color);
}

.conC .text, .conD .text{
    padding: 20px;
}

.conC .photo, .conD .photo {
    min-height: 200px;
    background-image: url(/img/series_a/note.jpg);
    background-position: center;
    background-size: cover;
}

.conD .container{
    padding-top: 2px;
}

.conD .photo {
    background-image: url(/img/series_a/life.jpg);
}

.conD a {
    box-shadow: 0 0 0 1px #888;
}

footer {
    background-color: var(--dark-color);
    color: var(--text-bright-color);
}

.footer_content{
    padding: 40px 20px;
}

.footer_title {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
}

.footer_address, .footer_url {
    font-size: 12px;
}

.footer_menu {
    margin-top: 20px;
}

.footer_menu-card {
    padding: 10px
}

.footer_menu-title {
    font-size: 14px;
    border-bottom: solid 1px currentColor;
}

.footer_menu-item a {
    font-size: 10px;
    color: inherit;
    padding: 5px;
    text-decoration: none;
}

.footer_copyright {
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
}

.footer_icon {
    margin-top: 20px;
}

.footer_icon ul {
    display: flex;
}

.footer_icon a {
    margin-right: 5px;
    display: block;
    font-size: 15px;
    color: inherit;
    padding: 0;
    text-decoration: none;
    border: solid 1px currentColor;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}

.header_logo {
    display: inline-block;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--main-color);
    color: var(--text-bright-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

.header_menu-item a {
    display: block;
    padding: 10px;
    font-size: 12px;
    color: inherit;
    opacity: 0.7;
}

.header_menu-button {
    margin-right: 10px;
    border: none;
    outline: none;
    background: none;;
    font-size: 28px;
    opacity: 0.5;
    cursor: pointer;
}

.header_menu-button:hover {
    opacity: 0.3;
}

@media(max-width: 767px){
    .footer_menu-title {
        width: 60vw;
    }

    .footer_menu-card {
        padding: 10px 0px;
    }

    .header_base {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header_menu {
        display: none;
    }
}

@media (min-width: 768px) {
    .conA h1 {
        font-size: 115px;
    }
    .conA p {
        font-size: 24px;
    }

    .conB .container, .conC .container, .conD .container {
        display: flex;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    .conB .text{
        flex: 1;
    }

    .conC .photo{
        flex: 3;
    }
    .conC .text{
        flex: 2;
        padding: 50px;
    }

    .conD .container{
        flex-direction: row-reverse;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .conD .photo{
        flex: 0 0 400px;
    }
    .conD .text{
        flex: 1;
        padding: 50px;
    }

    .footer_content {
        display: flex;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .footer_info{
        flex: 0 0 40%;
    }

    .footer_menu {
        display: flex;
        flex: 0 0 60%;
    }

    .footer_menu-card{
        flex: 1;
    }

    .header_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .header_menu {
        display: block !important;
    }

    .header_menu ul{
        display: flex;
    }

    .header_menu-button {
        display: none;
    }
}